body {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
}


.slide-list-container {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #ccc;
}

.slide-list-container.expanded {
  left: 0px;
}

.edit-slide-container {
  position: absolute;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #ccc;
}

.current-slide-id {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  left: 0;
}

.edit-slide-container.expanded {
  right: 0px;
}

.edit-slide-content {
  width: 100%;
  height: 40vh;
}

.edit-slide-menu {
  position: absolute;
  right: 100%;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ccc;
  cursor: pointer;
  color: white;
}


.slide-list-menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ccc;
  cursor: pointer;
  color: white;
}

.add-slide-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
