<div class="slide-controls-container">
  <div class="prev-slide" {{action "prevSlide"}}>
    {{fa-icon "chevron-left"}}
  </div>

  <div class="next-slide" {{action "nextSlide"}}>
    {{fa-icon "chevron-right"}}
  </div>
</div>
