<h2>
  Deck Config
</h2>

<p>Title</p>
{{input
  value=title
  class="field deck-config__title"}}


<p>Theme</p>
<select class="deck-config__theme">
  <option value="dark">dark</option>
  <option value="light">light</option>
</select>

